In [23]:
import pandas as pd
import numpy as np
import mysql.connector
import sqlite3
import re

In [2]:
df = pd.read_csv("eksi_comments.csv")

In [29]:
df.head(5)

,comment,date,secimden_sonra
0,reisin yine silip süpürüp damga vuracağı s...,02.02.2019 19:13,0
1,\nanavatan partisinin bir şekilde geri döndüğü...,02.02.2019 19:36,0
2,\r\n tek bildiğim banko aday mustafa sarıgü...,02.02.2019 21:20,0
3,\r\n ekrem imamoğlu ve muhtemelen iyi parti...,03.04.2019 10:48,0
4,\r\n mustafa bozbey'in bursa'yı alacağı seç...,04.04.2019 00:37,0

In [66]:
df['comment'] = df['comment'].astype(pd.StringDtype())
df['date'] = df['date'].astype(pd.StringDtype())

In [41]:
df.dtypes

comment           string[python]
date              string[python]
secimden_sonra             int64
dtype: object

In [48]:
comments = df['comment']

In [51]:
comments[1]

"\nanavatan partisinin bir şekilde geri döndüğü ya da eski anap taktiklerinin birileri tarafından keşfedildiğini belli eden başlıktır.(bkz: 20 ekim pazar günü bütün oylar anap'a) (bkz: en sevilmeyen entry'lerini silip tekrar yazmak) da olabilir tabii\r\n  "

In [54]:
comments2 = []
for i in range(len(comments)):
    comm = comments[i]
    comm = comm.replace('\n','')
    comm = comm.replace('\r','')
    comments2.append(comm)

In [62]:
df = df.drop('comment',axis=1)

In [63]:
df.insert(loc=0, column='comment', value=comments2)

In [68]:
df.head(5)

,comment,date,secimden_sonra
0,reisin yine silip süpürüp damga vuracağı s...,02.02.2019 19:13,0
1,anavatan partisinin bir şekilde geri döndüğü y...,02.02.2019 19:36,0
2,tek bildiğim banko aday mustafa sarıgül -ş...,02.02.2019 21:20,0
3,ekrem imamoğlu ve muhtemelen iyi parti ada...,03.04.2019 10:48,0
4,mustafa bozbey'in bursa'yı alacağı seçim o...,04.04.2019 00:37,0

In [67]:
df.dtypes

comment           string[python]
date              string[python]
secimden_sonra             int64
dtype: object

In [75]:
connection = sqlite3.connect("election.db")
 
cursor = connection.cursor()

In [77]:
sql_command = """CREATE TABLE eksi_comments (
    id INTEGER PRIMARY KEY,
    Comment TEXT,
    Date nchar(20),
    Secimden_sonra INTEGER
);"""
 
cursor.execute(sql_command)
 
connection.close

In [76]:
command = "DROP TABLE eksi_comments"

cursor.execute(command)
 
connection.close

In [78]:
columns = list(df)

conn = sqlite3.connect('election.db') 

cursor = conn.cursor() 

ids= []

for k in range(len(df)):
    ids.append(k)
    elements = []
    for i in columns:
        element = df[i][k]

        if isinstance(element, np.integer):
            
            element = element.tolist()
            
        elements.append(element)
    
    cursor.execute('''INSERT INTO eksi_comments(id, Comment ,Date, Secimden_sonra) 
                VALUES(?,?,?,?)''', (ids[k], elements[0], elements[1],elements[2]))


conn.commit() 
conn.close()