In [1]:
import pandas as pd
import numpy as np
import mysql.connector
import sqlite3
import re

In [2]:
df = pd.read_csv("youtube_comments.csv")

In [3]:
df.head()

,published_at,updated_at,comment,secimden_sonra
0,2024-03-24T20:24:20Z,2024-03-24 20:24:20+00:00,abi video montajlari efektleri falan yeni birş...,0
1,2024-03-24T20:19:56Z,2024-03-24 20:19:56+00:00,Bu ülkenin başına ne zaman bu ülkeyi gerçekten...,0
2,2024-03-24T19:59:01Z,2024-03-24 19:59:01+00:00,Teşekkürler.,0
3,2024-03-24T19:34:31Z,2024-03-24 19:34:31+00:00,Beyler istanbul için Murat kuruma verin ama bu...,0
4,2024-03-24T19:23:35Z,2024-03-24 19:23:35+00:00,CHP den hayır gelmez bu millete,0

In [4]:
df['published_at'] = df['published_at'].astype(pd.StringDtype())
df['updated_at'] = df['updated_at'].astype(pd.StringDtype())
df['comment'] = df['comment'].astype(pd.StringDtype())

In [5]:
df.dtypes

published_at      string[python]
updated_at        string[python]
comment           string[python]
secimden_sonra             int64
dtype: object

In [7]:
connection = sqlite3.connect("election.db")
 
cursor = connection.cursor()

In [12]:
sql_command = """CREATE TABLE youtube_comments (
    id INTEGER PRIMARY KEY,
    Published_at DATE,
    Updated_at DATE,
    Comment TEXT,
    Secimden_sonra INTEGER
);"""
 
cursor.execute(sql_command)
 
connection.close

In [11]:
command = "DROP TABLE youtube_comments"

cursor.execute(command)
 
connection.close

In [13]:
columns = list(df)

conn = sqlite3.connect('election.db') 

cursor = conn.cursor() 

ids= []

for k in range(len(df)):
    ids.append(k)
    elements = []
    for i in columns:
        element = df[i][k]

        if isinstance(element, np.integer):
            element = element.tolist()
            
        elements.append(element)
    
    cursor.execute('''INSERT INTO youtube_comments(id, Published_at ,Updated_at, Comment,Secimden_sonra) 
                VALUES(?,?,?,?,?)''', (ids[k], elements[0], elements[1],elements[2],elements[3]))



    


conn.commit() 
  
# Closing the connection 
conn.close()

InterfaceError: Error binding parameter 1 - probably unsupported type.